<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page principales</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/images/icon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}?v=1.0.3">
</head>

<body>
    <div class="menu-container">
        <button class="menu-button" onclick="toggleMenu()">☰ Menu</button>
        <div class="dropdown-menu" id="dropdown">
            <a href="/page_admin">Connexion Admin</a>
        </div>
    </div>

    <div class="page_content">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="logo">
        </div>

        <h1>Bienvenue à l'Application de Scouting ESSC-8152</h1>
        <p>vous êtes présentement sur la page principale.</p>

        <div class="main-content">
        <div class="redirect_buttons">
            <a href="/basic_results">Aller à la page des résultats</a>
            <a href="/scout_form">Nouveau formulaire</a>
            <a href="/reports">Création de rapports</a>
        </div>

        <div class="ranking-board">
            <table>
                <thead>
                    <tr>
                        <th>Équipe</th>
                        <th>Points moyens</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in ranking %}
                    <tr>
                        <td>{{ team.team_number }}</td>
                        <td>{{ team.avg_points }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="images">
        <img src="{{ url_for('static', filename='images/deepdive_monalisa.jpg') }}" alt="deepdive_monalisa">
        <img src="{{ url_for('static', filename='images/crescendo_monalisa.jpg') }}" alt="crescendo_monalisa">
    </div>
</body>

<script>
    const menu = document.getElementById('dropdown');

    function toggleMenu() {
        menu.classList.toggle('open');
    }

    // Ferme le menu si on clique ailleurs
    document.addEventListener('click', function(event) {
        const button = document.querySelector('.menu-button');
        if (!button.contains(event.target) && !menu.contains(event.target)) {
            menu.classList.remove('open');
        }
    });
</script>

</html>
