<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="/static/style/index.css">
        <title>Page Admin</title>
    </head>
    <body>
        <div class="topnav">
            <a href="/">Accueil</a>
            <a href="/reports">Rapports</a>
        <header>
            <h1>Page Admin</h1>
        </header>
        <main>
            <section>
                <h2>Bienvenue sur la page d'administration</h2>
                <p>Utilisez le menu pour naviguer vers les différentes sections.</p>
            </section>
        </main>

        <div class="options">
            <a href="/upload_schedule">Téléverser l'horaire</a>
            <br>
            <a href="/upload_match_data">Mettre à jour un match</a>
        </div>

        <footer>
            <p>&copy; {{ current_year }} 8152 Scouting App</p>
        </footer>
    </body>

    <script>
        window.onload = function() {
            navigator.sendBeacon("/logout");
        };
    </script>
</html>