<!DOCTYPE html>
<html>
<head>
    <title>Formulaire d'éclaireur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/images/icon.png">
</head>
<body>
  <h1>Formulaire d'éclaireur</h1>
  <form action="/scout_form" method="POST">
    <div id="Page1">
      <p>Initiales de l'éclaireur</p>
      <input type="text" id="scout_name" name="scout_name" required>

      <p>Numéro d'équipe</p>
      <input type="number" id="team_number" name="team_number" required>

      <p>Numéro de match</p>
      <input type="number" id="match_number" name="match_number" required>

      <a href="#" onclick="return show('Page2','Page1');">Next</a>
    </div>
      
    <div id="Page2" style="display:none">
      <p>Points auto</p>
      <input type="number" id="auto_points" name="auto_points">

      <p>Points de téléopération</p>
      <input type="number" id="teleop_points" name="teleop_points">

      <p>Points de fin de match</p>
      <input type="number" id="endgame_points" name="endgame_points">

      <p>Pénalités</p>
      <input type="number" id="penalties" name="penalties">

      <p>Status du robot</p>
      <select id="robot_status" name="robot_status">
        <option value="working">Fonctionnel</option>
        <option value="damaged">Endommagé</option>
        <option value="disabled">Désactivé</option>
      </select>

      <p>Remarques</p>
      <textarea id="notes" name="notes"></textarea>

      <a href="#" onclick="return show('Page1','Page2');">Previous</a>
      <a href="#" onclick="return show('Page3','Page2');">Next</a>
    </div>

  <div id="Page3" style="display:none">
    <button type="submit">Soumettre</button>
  </div>
  </form>
</body>
<script>
function show(shown, hidden) {
  document.getElementById(shown).style.display='block';
  document.getElementById(hidden).style.display='none';
  return false;
}
</script>
</html>