<!DOCTYPE html>
<html> 
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/results.css') }}">
        <title>Search</title>
        <meta charset="UTF-8">
        <a href="/">Accueil</a>
        <a href="/scout_form">Nouveau Formulaire</a>
    </head>

    <body>
        <h1>Recherche</h1>
        <form method="POST" action="/search">
            <div class="search-bar">
                <label for="searchType">Type de recherche:</label>
                <select id="searchType" name="searchType">
                    <option value="scoutID">Scout ID</option>
                    <option value="teamNumber">Team Number</option>
                    <option value="matchNumber">Match Number</option>
                </select>
                <input type="text" name="query" placeholder="Rechercher..." required>
                <button type="submit">Rechercher</button>
            </div>
        </form>
    </body>
</html>